<mat-card class="card-size">
  <mat-card-header>
    <mat-card-title>Post Details</mat-card-title>
    <mat-card-subtitle>userId: {{ userId }}</mat-card-subtitle>
     <mat-card-subtitle>id: {{ id }}</mat-card-subtitle>
       <mat-card-subtitle>title: {{ title }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
     body: {{ body }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="backClicked()">Back</button>
  </mat-card-actions>
</mat-card>

<div class="grid grid-cols-3 gap-4">
  <div class="...">01</div>
  <div class="...">02</div>
  <div class="...">03</div>
  <div class="col-span-2 ...">04</div>
  <div class="...">05</div>
  <div class="...">06</div>
  <div class="col-span-2 ...">07</div>
</div>

<button
  class="py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-400">Hello</button>
